.canvas {
	width:1200px;
	height:100%;
}

.canvasSubviews {
	padding:10px;
	width:100%;
	min-height:600px;
}

.spot {
	float:left;
	width: 150px;
	height: 194px;
}
.hovered {
	border: 1px solid #3D3D3D;
}
.spotFrame {
	width: 150px;
	height: 194px;
}

.drawing {
	display:block;
	width: 150px;
	height: 194px;
}
.artist, .toolbar {
	display:none;
}

.hovered .artist {
	display: block;
	/*width:125%;*/
	padding: 6px 6px;
	background: #272727;
	border-top: 1px solid #3D3D3D;
	margin:4px;
	text-align: center;
	opacity:0.7;
}

.hovered .anchor {
	position: relative;

	display:block;
	width:16px;
	height:16px;
	background: url('loaders/pin.png') no-repeat;
}

.hovered .toolbar {
	display:block;
	position:absolute;
	bottom:4px;
	width:150px;
	height: 28px;
	background: #272727;
	border-top: 1px solid #3D3D3D;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
	padding: 3px 4px 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.hovered .toolbar a{
	color: #CCC;
	font-weight: 300;
	padding-left: 20px;
	text-decoration: none;
}
.hovered .toolbar a:hover{
	color: #fffff0;
}
.hovered .anchor:hover {
	width:16px;
	height:16px;
	background: url('loaders/pin2.png') no-repeat;
}

.hovered .artist:hover {
	opacity:0.9;
}

.hovered .artist a {
	text-decoration: none;
	color: #CCC;
}


.drawingFrame {
	/*position:absolute;	*/
	width: 150px;
	height: 194px;
}
.drawingCanvas {
	display: table-cell;
    vertical-align: middle;
	width: 150px;
	height: 194px;
}
.drawingCanvas img.loader {
 	margin: 0 auto;
 	display:block;
	width:30px;
	height:30px;
}
.hovered img.loader {
	display:none;
}
.drawingInfo {
	position:absolute;
	height:194px;
	width:150px;
}
